<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <input id="input" type="text">
        <input id="name" type="text">
        <input id="number" type="text">
        <input id="time" type="number">
        <button id="button">Save file</button>
        <button id="delete">Delete</button>
        <button id="deleteAll">Delete all</button>
        <button id="playlist">Playlist</button>
        <select name="" id="select">
            <option value="jpg">JPG</option>
            <option value="png">PNG</option>
            <option value="mp4">MP4</option>
        </select>
    </div>
</body>
<script>
    const DELETE = 'DELETE'
    const ADD = 'ADD'
    const CHANGE_PLAYLIST = 'CHANGE_PLAYLIST'
    const DELETE_PLAYLIST = 'DELETE_PLAYLIST'
    const button = document.querySelector('#button')
    const input = document.querySelector('#input')
    const nameInput = document.querySelector('#name')
    const deleteButton= document.querySelector('#delete')
    const deleteAllButton= document.querySelector('#deleteAll')
    const playlistButton = document.querySelector('#playlist')
    const select = document.querySelector('#select')
    const num = document.querySelector('#number')
    const timeInput = document.querySelector('#time')


    button.onclick = () => {
        const val = input.value
        const name = nameInput.value
        const aName = name
        const format = select.value
        const number = parseInt(num.value) || 1
        const msgs = []
        const time = timeInput.value

        for(i = 0 ; i < number; i++){
            const data = {
                url: val,
                id: parseInt(aName) + i,
                format,
                time
            }
            const msg = {
                action: ADD,
                deviceGroupId: 1,
                payload: data
            }
            msgs.push(msg)
        }
        console.log(msgs)
        msgs.map((msg) => {
            fetch('http://localhost:8000/sex',{ method: 'POST', body: JSON.stringify(msg), contentType: 'application/json', }).then(() => {
                return
            })
            .catch(e => {
                console.log(e)
            })
        })
    }

    deleteButton.onclick = () => {
        const val = input.value
        const name = nameInput.value
        const aName = name
        const format = select.value
        const number = parseInt(num.value) || 1
        const msgs = []

        for(i = 0 ; i < number; i++){
            const data = {
                id:  parseInt(aName) + i,
            }
            const msg = {
                action: DELETE,
                deviceGroupId: 1,
                payload: data
            }
            msgs.push(msg)
        }

        msgs.map((msg) => {
            fetch('http://localhost:8000/sex',{ method: 'POST', body: JSON.stringify(msg), contentType: 'application/json', }).then(() => {
                return
            })
            .catch(e => {
                console.log(e)
            })
        })


    }

    deleteAllButton.onclick = () => {
        const msg = {
            action: DELETE_PLAYLIST,
            deviceGroupId: 1,
        }
        fetch('http://localhost:8000/sex',{ method: 'POST', body: JSON.stringify(msg), contentType: 'application/json', }).then(() => {
                return
        })
            .catch(e => {
                console.log(e)
        })
    }

    playlistButton.onclick = () => {
        const val = input.value
        const name = nameInput.value
        const aName = name
        const format = select.value
        const number = parseInt(num.value) || 1
        const playlist = []
        const time = timeInput.value

        for(i = 0 ; i < number; i++){
            const data = {
                url: val,
                id: parseInt(aName) + i,
                format
            }
            playlist.push(data)
        }

        const msg = {
                action: CHANGE_PLAYLIST,
                deviceGroupId: 1,
                payload: {
                    playlist
                }
            }
        fetch('http://localhost:8000/sex',{ method: 'POST', body: JSON.stringify(msg), contentType: 'application/json', }).then(() => {
            return
        })
        .catch(e => {
            console.log(e)
        })
    }
</script>
</html>